.card {
    position: relative;
    fill-opacity: #f3f3;
 
}

.card img {
    
    display: block;
    border-radius: 6px;
    height: 140px;
    width: 140px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}

/* front of card - the picture */
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* back of card - cover */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    padding: 55px;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}